MACHINE ?= "raspberrypi4-64"
DISTRO ?= "poky"
PACKAGE_CLASSES ?= "package_deb"
EXTRA_IMAGE_FEATURES ?= "package-management serial-autologin-root ssh-server-dropbear empty-root-password allow-root-login allow-empty-password splash"
BAD_RECOMMENDATIONS += "openssh-sftp-server"
USER_CLASSES ?= "buildstats"
PATCHRESOLVE = "noop"
BB_DISKMON_DIRS ??= "\
    STOPTASKS,${TMPDIR},1G,100K \
    STOPTASKS,${DL_DIR},1G,100K \
    STOPTASKS,${SSTATE_DIR},1G,100K \
    STOPTASKS,/tmp,100M,100K \
    HALT,${TMPDIR},100M,1K \
    HALT,${DL_DIR},100M,1K \
    HALT,${SSTATE_DIR},100M,1K \
    HALT,/tmp,10M,1K"
SSTATE_DIR ?= "${TOPDIR}/sstate-cache"
CONF_VERSION = "2"

RM_OLD_IMAGE = "1"
INHERIT += "ccache"

LICENSE_FLAGS_ACCEPTED = "commercial synaptics-killswitch"

DISTRO_FEATURES = "ipv4 systemd wifi"
INIT_MANAGER = "systemd"

DISABLE_RPI_BOOT_LOGO = "1"
ENABLE_UART = "1"
IMAGE_FSTYPES = "wic.bz2 wic.bmap"
RPI_USE_U_BOOT = "1"
SERIAL_CONSOLES ?= "115200;ttyAMA0"

CMDLINE_ROOT_PARTITION = "/dev/mmcblk0p2"
CONFIG_PM_STD_PARTITION = "/dev/mmcblk0p2"

RPI_EXTRA_CONFIG = ' \n \
dtoverlay=disable-bt \n \
dtoverlay=disable-wifi \n \
dtparam=i2c_arm_baudrate=400000 \n \
dtparam=i2c_arm=on \n \
dtparam=i2c_vc=on \n'

MACHINE_ESSENTIAL_EXTRA_RRECOMMENDS += "kernel-module-brcmfmac"
MACHINE_ESSENTIAL_EXTRA_RRECOMMENDS += "kernel-module-brcmfmac-wcc"

PREFERRED_PROVIDER_virtual/kernel = "linux-raspberrypi"
PREFERRED_VERSION_linux-raspberrypi ?= "6.12%"

PREFERRED_PROVIDER_virtual/egl = "mesa"
PREFERRED_PROVIDER_virtual/libgles2 = "mesa"
PREFERRED_PROVIDER_virtual/libgl = "mesa"
PREFERRED_PROVIDER_virtual/mesa = "mesa"

RPI_KERNEL_DEVICETREE_OVERLAYS:remove = "\
    overlays/vc4-kms-dsi-ili9881-7inch.dtbo \
    overlays/vc4-kms-dsi-ili9881-5inch.dtbo \
    overlays/w1-gpio-pi5.dtbo \
    overlays/bcm2712d0.dtbo \
"

IMAGE_FEATURES:remove = "sbom"

IMAGE_INSTALL:append = " gdbserver"
EXTRA_IMAGE_FEATURES += "dbg-pkgs"
TOOLCHAIN_HOST_TASK:append = " nativesdk-packagegroup-sdk-host"

BBMULTICONFIG = "ground-rpi4 air-rpi0 air-rpi4"
