[Unit]
Description=OpenHD Digital Video Link
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/openhd -g
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target
